<ul class="organiser-grid">
  <% const confirmed=items.filter(p=> p.confirmed == true); %> <% for (const
  item of confirmed) { %>
  <li class="organiser-card" >
    <img
      src="<%= item.photo %>"
      alt="Photo of <%= item.author %>"
      class="organiser-photo-2"
    />
    <p class="organiser-name">
      <% if (item.website) { %>
      <a href="<%= item.website %>" target="_blank" rel="noopener noreferrer"
        ><%= item.author %></a
      >
      <% } else { %> <%= item.author %> <% } %>
    </p>
    <p class="organiser-role"><%= item.role %></p>
    <p class="organiser-institution"><%= item.institution %></p>
  </li>
  <% } %>
</ul>
