```{=html}
<ul class="blog-list">
<% for (const item of items) { %>
  <li class="blog-card">
    <div class="blog-card__layout">
      <!-- left: photo -->
      <div class="blog-card__image">
        <img src="<%= item.photo %>" alt="Photo of <%= item.author %>" class="blog-card__photo"/>
      </div>
      <!-- right: content -->
      <div class="blog-card__content">
        <h2 class="blog-card__title">
          <% if (item.website) { %>
            <a href="<%= item.website %>" target="_blank" rel="noopener">
              <%= item.talk_title %>
            </a>
          <% } else { %>
            <%= item.talk_title %>
          <% } %>
        </h2>
        <p class="blog-card__abstract"><%= item.abstract %></p>
        <p class="blog-card__author">
          <% if (item.website) { %>
            <a href="<%= item.website %>" target="_blank" rel="noopener"><%= item.author %></a>
          <% } else { %>
            <%= item.author %>
          <% } %>
        </p>
        <p class="blog-card__meta">
          <%= item.role %><br/>
          <%= item.institution %>
        </p>
        <p class="blog-card__date"><%= item.date %></p>
        <% if (item.categories && item.categories.length) { %>
          <p class="blog-card__categories">
            Categories:
            <% item.categories.forEach((cat, i) => { %>
              <a href="/categories/<%= cat %>"><%= cat.replace(/-/g,' ') %></a><%= i < item.categories.length-1 ? ', ' : '' %>
            <% }) %>
          </p>
        <% } %>
      </div>
    </div>
  </li>
<% } %>
</ul>
```