<ul class="speaker-grid">
<% for (const item of items) { %>
  <li class="speaker-card">
    <img
      src="<%= item.photo %>"
      alt="Photo of <%= item.author %>"
      class="speaker-photo"
    >
    <p class="speaker-name">
      <% if (item.website) { %>
        <a href="<%= item.website %>" target="_blank" rel="noopener noreferrer"><%= item.author %></a>
      <% } else { %>
        <%= item.author %>
      <% } %>
    </p>
    <p class="speaker-role"><%= item.role %></p>
    <p class="speaker-institution"><%= item.institution %></p>
  </li>
<% } %>
</ul>