<ul class="organiser-grid">
<% for (const item of items) { %>
  <li class="organiser-card" <%= metadataAttrs(item) %>>
    <img
      src="<%= item.photo %>"
      alt="Photo of <%= item.name %>"
      class="organiser-photo"
    >
    <p class="organiser-name">
         <a href="<%= item.website %>" target="_blank" rel="noopener noreferrer">
          <%= item.name %>
        </a>
    </p>
    <p class="organiser-institution"><%= item.institution %></p>
  </li>
<% } %>
</ul>